body {
    background-color:rgb(233, 234, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    }

 h1 {
    color: black;
    text-align: center;
    width: 100%;
    display: block
    }
    h1:hover 
    {
        color: lightblue;
        text-align: center;
        width: 100%;
        display: block;
    }
       

    
.assign {
background-color: rgb(173, 192, 230);
 margin: 10px;
 padding: 10px;
 border-radius: 20px;
 width: 20%;
 box-shadow: 8px 8px lightblue;
display: block; 

}
.assign img {
 width: 200px;
 margin: 10px;
 border: 2px solid midnightblue;
}
.assign img:hover {
    width: 200px;
    margin: 10px;
    border: 2px dotted black;
   }

   a {
    text-decoration: none;
    color: black;
   }
   